// Common styles of the project

html,
body
  height 100%

.wrapper
  display flex
  flex-direction column
  height 100%

.content
  flex 1 0 auto

.page-footer
  flex 0 0 auto
  
.container
  max-width 1765px
  margin 0 auto
  padding 0 20px
  
img
  width 100%
  height auto
