.breadcrumbs
  padding 10px 0
  
  background-color #fff5ee

.breadcrumbs__link
  font-size 15px
  line-height 18px
  font-weight 300
  color #3a3a3a
  
  transition 0.2s ease
  &:hover
    color #ff5900
    
.breadcrumbs__item-span
  margin 0 5px
  
  color #c0c0c3