.carts-content__title
  margin-bottom 25px
  
  font-family 'Gill-Sans-Nova', sans-serif
  font-size 35px
  line-height 42px
  font-weight 500
  color #3a3a3a
  
@media(max-width 1200px)
  .carts-content__title
    font-size 28px
    line-height 31px