.composition
  margin-bottom 20px

.composition__title
  margin-bottom 15px
  
  font-family 'Gill-Sans-Nova', sans-serif
  font-size 35px
  line-height 42px
  font-weight 500
  color #3a3a3a
  
.composition__slider-wrap
  padding-top 28px
  padding-left 4%
  padding-right 4%
  padding-bottom 20px
  
  background-color #fed851
  
.composition__slider
  position relative
  .owl-stage-outer
    position relative
    z-index 10
  .owl-dots
    display none
  .owl-nav
    z-index 5
    margin 0 !important
    position: absolute;
    top: 0;
    left: -2%;
    bottom: 0;
    height: 52px;
    margin: auto !important;
    right: -2%;
    display: flex;
    justify-content: space-between;
  .owl-prev,
  .owl-next
    margin 0 !important
    span
      position relative
      
      display block
      width 25px
      height 45px
      
      font-size 0
      &:focus
        outline none !important
      &::before,
      &::after
        center-absolute()
        
        content ''
        
        left -3px
        
        width 133%
        height 3px
        
        background-color #ffffff
      &::before
        top 22px
        
        transform rotate(45deg)
      &::after
        top -22px
        
        transform rotate(-45deg)
    &:hover
      background-color transparent !important
    &:focus
      outline none !important
  .owl-next
    transform rotate(180deg)
  
.composition__slider-img-wrap
  width 180px
  margin-bottom 17px
  
  border-radius 50%
  
.composition__slider-img
  border-radius 50%
  
  transition 0.4s ease
  &--hover
    transform rotateY(180deg)
  &--no-hover
    transform rotateY(0deg)
  
.composition__slider-link
  position relative
  
  padding-bottom 3px
  
  font-size 24px
  line-height 29px
  font-weight 400
  color #555555
  
  transition 0.3s ease
  &::after
    content ''
    
    position absolute
    left 0
    bottom 0
    
    width 100%
    height 1px
    margin auto
    
    background-color #555555
    
    opacity 1
    
    transition 0.3s ease
  &:hover
    color #ff5900
    &::after
      width 0
      
      opacity 0
      
@media(max-width 1200px)
  .composition__title
    font-size 28px
    line-height 31px