.description
  margin-bottom 12px
  padding-top 4px
  
  background-color #f8f8f8

.description__title
  margin-bottom 8px
  
  font-family 'Gill-Sans-Nova', sans-serif
  font-size 35px
  line-height 42px
  font-weight 500
  color #3a3a3a
  
.description__text
  margin-bottom 19px
  
  font-size 19px
  line-height 23px
  font-weight 300
  color #808080
  
.description__border
  height 2px
  
  background-color #2993fc