.logo
  margin-right: 6.94%;
  &--footer
    margin-right 0
    
    transform: translateX(-25px);

.logo__img-wrap
  width 60px
  margin-right 20px
  
.logo__title
  margin-bottom 3px
  
  font-family 'Medieval', sans-serif
  font-size 24px
  line-height 29px
  font-weight 700
  color #ff5900
  
.logo__text
  font-size 15px
  line-height 18px
  font-weight 400
  color #3a3a3a
  
@media(max-width 1380px)
  .logo
    &--header
      margin-right 0.94%
      
@media(max-width 1290px)
  .logo
    &--header
      .logo__img-wrap
        margin-right: 7px;
      .logo__title
        font-size: 19px;
        line-height 22px
        
@media(max-width 1040px)
  .logo
    &--header
      margin-right 0