.page-header__row-top
  margin-bottom 15px
  padding-top 20px
  padding-left 6.8%
  padding-right 7.4%
  
.page-header__row-middle
  margin-bottom 21px
  
@media(max-width 1600px)
  .page-header__row-top
    padding-left 0
    padding-right 0
    
@media(max-width 1040px)
  .page-header__row-top
    justify-content center