.socials__items
  margin-right 5px
  &:last-child
    margin-right 0

.socials__link
  display block
  width 24px
  height 24px
  
  background-color #ffffff
  background-repeat no-repeat
  &--vk
    background-image url('%=static=%content/vk.svg')
  &--fb
    background-image url('%=static=%content/fb.svg')
  &--od
    background-image url('%=static=%content/od.svg')
  &--g
    background-image url('%=static=%content/g.svg')
  &--tw
    background-image url('%=static=%content/tw.svg')
  &--v
    background-image url('%=static=%content/v.svg')
  &--w
    background-image url('%=static=%content/wa.svg')