@import 'blocks/slider/owl.carousel.styl';
@import 'blocks/slider/owl.theme.default.styl';
@import 'blocks/main/text.styl';
@import 'blocks/main/button.styl';
@import 'blocks/main/b.styl';
@import 'blocks/main/row.styl';
@import 'blocks/main/column.styl';
@import 'blocks/main/input.styl';
@import 'blocks/main/list.styl';
@import 'blocks/main/m.styl';
@import 'blocks/main/d-block.styl';
@import 'blocks/main/hidden.styl';
// components
@import 'blocks/page-header.styl';
@import 'blocks/logo.styl';
@import 'blocks/info.styl';
@import 'blocks/user-block.styl';
@import 'blocks/main-nav.styl';
@import 'blocks/breadcrumbs.styl';
@import 'blocks/socials.styl';
@import 'blocks/page-content.styl';
@import 'blocks/description.styl';
@import 'blocks/carts-content.styl';
@import 'blocks/cart.styl';
@import 'blocks/features.styl';
@import 'blocks/composition.styl';
@import 'blocks/table.styl';
@import 'blocks/popular-good.styl';
@import 'blocks/footer-content.styl';
